<mat-drawer-container class="page-container">
    <mat-drawer mode="side" opened class="page-nav">
        <mat-nav-list>
            <a mat-list-item routerLink="/cars/create"><span class="material-icons">
              add_circle
        </span>Autók és alkatrészek hozzáadása</a>
            <a mat-list-item routerLink="/parts/list"><span class="material-icons">
          list
        </span>Listázás</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="page-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>